.Footer{
  
  background-color: rgb(255, 228, 196,.7);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: column;
 
}

.Icon-navigation{
  display:flex;
  justify-content: space-evenly;
  
}

