body, html {
  height: 70vh;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
}

.App {
  width:100vw;
  
  /* Create the parallax scrolling effect */
  background-image: url(./images/pottery_wheel.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

